@mixin pages($property,$pseudo,$colors...) {
  @for $i from 1 to 5 {
    @if $pseudo==false {
      &.page_#{$i} {
        #{$property}: nth($colors, $i);
        transition: $property 1s linear;
      }
    } @else {
      &.page_#{$i}::after {
        background-color: nth($colors, $i);
        transition: background-color 1s linear;
      }
    }
  }
}

@mixin underline($el,$color, $bottom, $h, $w) {
  & {
    position: relative;
  }

  &::#{$el} {
    position: absolute;
    content: '';
    bottom: $bottom;
    left: 0;
    height: $h;
    width: $w;
    background-color: $color;
    transform: skewX(-30deg);
  }
}

@mixin prependIcon() {
  & {
    position: relative;
  }
  &::before {
    position: absolute;
    width: 20px;
    left: -28px;
  }
}