header {
  position: absolute;
  top: 0;
  height: 104px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px;
  z-index: 1;
}

.header_inner {
  height: 20px;
  display: flex;
  width: 100%;
}

.flag {
  height: inherit;
  flex-grow: .5;

  &_img {
    height: 100%;
  }
}

.nav {
  flex-grow: 2;


  &_item {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 14px;
    margin: 0 21px;
    font-stretch: 151%;
    opacity: .5;
    cursor: pointer;
    @include pages(color, false, $white, $white, $darkBlue, $white);


    &-active {
      opacity: 1;

      @include underline(after, $azure, -8px, 1px, 72px);
    }
  }
}

.contacts {
  flex-grow: .75;
  font-size: 20px;


  &_item {
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    font-stretch: 126%;
    @include pages(color, false, $white, $white, $azure, $white);

  }
}

.lang {
  &_item {
    font-size: 12px;
    line-height: 18px;
    font-stretch: 136%;
    padding: 0 15px;
    color: $white;
    background-color: $darkBlue;
    cursor: pointer;

    &-active {
      background-color: $azure;
    }
  }
}