main{
  overflow: hidden;

}

.wrapper {
  display: flex;
  transition: transform 1s linear;

  &>*{

    height: 100vh;
    min-width: 100vw;
  }

  &_main {

    background-image: url("../assets/Bg.png");
    background-color: rgba($darkBlue, .9);
    background-blend-mode: multiply;
    background-size: cover;
  }

}