@import "vars";
@import "mixins";
@import "header";
@import "main";
@import "footer";

@font-face {
  font-family: 'Roboto Flex';
  src: url('../assets/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Roboto Flex';
  font-variation-settings: 'GRAD' 0, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738, 'opsz' 14;
}