@import "vars";
@import "mixins";
@import "header";
@import "main";

@font-face {
  font-family: 'Roboto Flex';
  src: url('../assets/RobotoFlex[GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght].ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Roboto Flex';
}


main {
  height: 100vh;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

